clusters/sirius/apps/n8n/workflows/new-user-approval.json
{
  "name": "Authentik New User Approval",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "authentik-new-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "authentik-new-user"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "username",
              "name": "username",
              "value": "={{ $json.body.event_user_username }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.event_user_email }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-user-data",
      "name": "Extract User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ADMIN_EMAIL }}",
        "subject": "New Authentik User Approval: {{ $json.username }}",
        "emailType": "html",
        "html": "<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background: #1a1a2e; color: white; padding: 20px; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"margin:0;\">New User Approval Required</h1>\n  </div>\n  <div style=\"background: #f8f9fa; padding: 20px; border: 1px solid #e9ecef;\">\n    <p>A new user has registered and requires approval for the <strong>audiobook</strong> role.</p>\n    <div style=\"background: white; padding: 15px; border-radius: 8px; margin: 15px 0;\">\n      <dl>\n        <dt style=\"font-weight: bold; color: #666;\">Username</dt>\n        <dd style=\"margin: 0 0 10px 0; font-size: 16px;\">{{ $json.username }}</dd>\n        <dt style=\"font-weight: bold; color: #666;\">Email</dt>\n        <dd style=\"margin: 0 0 10px 0; font-size: 16px;\">{{ $json.email }}</dd>\n        <dt style=\"font-weight: bold; color: #666;\">Notification Time</dt>\n        <dd style=\"margin: 0 0 10px 0; font-size: 16px;\">{{ $json.timestamp }} UTC</dd>\n      </dl>\n    </div>\n    <div style=\"text-align: center; margin: 25px 0;\">\n      <a href=\"https://n8n.sirius.moonblade.work/webhook/authentik-user-action?username={{ $json.username }}&action=approve\" style=\"display: inline-block; padding: 14px 32px; margin: 8px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px; background: #28a745; color: white;\">Approve (Add Audiobook Role)</a>\n      <br>\n      <a href=\"https://n8n.sirius.moonblade.work/webhook/authentik-user-action?username={{ $json.username }}&action=deny\" style=\"display: inline-block; padding: 14px 32px; margin: 8px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px; background: #dc3545; color: white;\">Deny</a>\n    </div>\n    <p style=\"font-size: 14px; color: #666;\">Clicking <strong>Approve</strong> will add the \"audiobook\" role to this user's attributes in Authentik.<br>Clicking <strong>Deny</strong> will log the denial (user account remains but without audiobook access).</p>\n  </div>\n  <div style=\"background: #e9ecef; padding: 15px; border-radius: 0 0 8px 8px; font-size: 12px; color: #666; text-align: center;\">Homelab Authentik User Approval System<br>Powered by n8n</div>\n</div>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [850, 300],
      "credentials": {
        "smtp": {
          "id": "gmail-smtp",
          "name": "Gmail SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Data": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "authentik"
    }
  ],
  "triggerCount": 0,
  "active": true
}
