clusters/sirius/apps/kestra/flows-configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: kestra-flows
data:
  main_homelab.new-user-approval.yml: |
    id: new-user-approval
    namespace: homelab
    description: |
      Receives webhook from Authentik when a new user is created.
      Sends approval email to admin with approve/deny links.

    labels:
      app: authentik-approval
      team: homelab

    tasks:
      - id: log_new_user
        type: io.kestra.plugin.core.log.Log
        message: |
          New user notification received:
          Username: {{ trigger.body.event_user_username ?? 'unknown' }}
          Email: {{ trigger.body.event_user_email ?? 'unknown' }}
          Severity: {{ trigger.body.severity ?? 'unknown' }}

      - id: send_approval_email
        type: io.kestra.plugin.email.MailSend
        host: smtp.gmail.com
        port: 465
        transportStrategy: SMTPS
        username: "{{ secret('GMAIL_USERNAME') }}"
        password: "{{ secret('GMAIL_APP_PASSWORD') }}"
        from: "{{ secret('GMAIL_USERNAME') }}"
        to: "{{ secret('ADMIN_EMAIL') }}"
        subject: "New Authentik User Approval: {{ trigger.body.event_user_username }}"
        htmlTextContent: |
          <!DOCTYPE html>
          <html>
          <head>
            <style>
              body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; }
              .container { max-width: 600px; margin: 0 auto; padding: 20px; }
              .header { background: #1a1a2e; color: white; padding: 20px; border-radius: 8px 8px 0 0; }
              .content { background: #f8f9fa; padding: 20px; border: 1px solid #e9ecef; }
              .user-info { background: white; padding: 15px; border-radius: 8px; margin: 15px 0; }
              .user-info dt { font-weight: bold; color: #666; }
              .user-info dd { margin: 0 0 10px 0; font-size: 16px; }
              .buttons { text-align: center; margin: 25px 0; }
              .btn { display: inline-block; padding: 14px 32px; margin: 8px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px; }
              .btn-approve { background: #28a745; color: white !important; }
              .btn-deny { background: #dc3545; color: white !important; }
              .footer { background: #e9ecef; padding: 15px; border-radius: 0 0 8px 8px; font-size: 12px; color: #666; text-align: center; }
            </style>
          </head>
          <body>
            <div class="container">
              <div class="header">
                <h1 style="margin:0;">🔐 New User Approval Required</h1>
              </div>
              <div class="content">
                <p>A new user has registered and requires approval for the <strong>audiobook</strong> role.</p>
                
                <div class="user-info">
                  <dl>
                    <dt>Username</dt>
                    <dd>{{ trigger.body.event_user_username ?? 'N/A' }}</dd>
                    
                    <dt>Email</dt>
                    <dd>{{ trigger.body.event_user_email ?? 'N/A' }}</dd>
                    
                    <dt>Notification Time</dt>
                    <dd>{{ now() | date("yyyy-MM-dd HH:mm:ss") }} UTC</dd>
                  </dl>
                </div>
                
                <div class="buttons">
                  <a href="https://kestra.moonblade.work/api/v1/executions/webhook/homelab/user-approval-action/{{ secret('WEBHOOK_KEY_USER_APPROVAL_ACTION') }}?username={{ trigger.body.event_user_username | urlencode }}&action=approve" class="btn btn-approve">
                    Approve (Add Audiobook Role)
                  </a>
                  <br>
                  <a href="https://kestra.moonblade.work/api/v1/executions/webhook/homelab/user-approval-action/{{ secret('WEBHOOK_KEY_USER_APPROVAL_ACTION') }}?username={{ trigger.body.event_user_username | urlencode }}&action=deny" class="btn btn-deny">
                    Deny
                  </a>
                </div>
                
                <p style="font-size: 14px; color: #666;">
                  Clicking <strong>Approve</strong> will add the "audiobook" role to this user's attributes in Authentik.<br>
                  Clicking <strong>Deny</strong> will log the denial (user account remains but without audiobook access).
                </p>
              </div>
              <div class="footer">
                Homelab Authentik User Approval System<br>
                Powered by Kestra
              </div>
            </div>
          </body>
          </html>

    triggers:
      - id: authentik_webhook
        type: io.kestra.plugin.core.trigger.Webhook
        key: "{{ secret('WEBHOOK_KEY_NEW_USER_APPROVAL') }}"

  main_homelab.user-approval-action.yml: |
    id: user-approval-action
    namespace: homelab
    description: |
      Handles approve/deny actions from the approval email.
      - Approve: Adds "audiobook" role to user.attributes.roles in Authentik
      - Deny: Logs the denial (no role change)

    labels:
      app: authentik-approval
      team: homelab

    inputs:
      - id: username
        type: STRING
        required: true
        description: Username to approve/deny
      - id: action
        type: STRING
        required: true
        defaults: "deny"
        description: Action to take (approve or deny)

    tasks:
      - id: log_action
        type: io.kestra.plugin.core.log.Log
        message: "Processing {{ inputs.action }} for user: {{ inputs.username }}"

      - id: process_action
        type: io.kestra.plugin.core.flow.Switch
        value: "{{ inputs.action }}"
        cases:
          approve:
            - id: get_user
              type: io.kestra.plugin.core.http.Request
              uri: "https://authentik.moonblade.work/api/v3/core/users/?username={{ inputs.username }}"
              method: GET
              headers:
                Authorization: "Bearer {{ secret('AUTHENTIK_API_TOKEN') }}"
                Accept: application/json

            - id: check_user_found
              type: io.kestra.plugin.core.flow.If
              condition: "{{ outputs.get_user.body | jq('.results | length') | first > 0 }}"
              then:
                - id: update_user_roles
                  type: io.kestra.plugin.core.http.Request
                  uri: "https://authentik.moonblade.work/api/v3/core/users/{{ outputs.get_user.body | jq('.results[0].pk') | first }}/"
                  method: PATCH
                  headers:
                    Authorization: "Bearer {{ secret('AUTHENTIK_API_TOKEN') }}"
                    Content-Type: application/json
                  body: |
                    {
                      "attributes": {
                        "roles": {{ outputs.get_user.body | jq('(.results[0].attributes.roles // []) + ["audiobook"] | unique') | first }}
                      }
                    }

                - id: log_approval_success
                  type: io.kestra.plugin.core.log.Log
                  message: "Successfully added audiobook role to user: {{ inputs.username }}"

                - id: send_confirmation_email
                  type: io.kestra.plugin.email.MailSend
                  host: smtp.gmail.com
                  port: 465
                  transportStrategy: SMTPS
                  username: "{{ secret('GMAIL_USERNAME') }}"
                  password: "{{ secret('GMAIL_APP_PASSWORD') }}"
                  from: "{{ secret('GMAIL_USERNAME') }}"
                  to: "{{ secret('ADMIN_EMAIL') }}"
                  subject: "User Approved: {{ inputs.username }}"
                  htmlTextContent: |
                    <div style="font-family: sans-serif; padding: 20px;">
                      <h2 style="color: #28a745;">User Approved Successfully</h2>
                      <p><strong>Username:</strong> {{ inputs.username }}</p>
                      <p><strong>Role Added:</strong> audiobook</p>
                      <p><strong>Time:</strong> {{ now() | date("yyyy-MM-dd HH:mm:ss") }} UTC</p>
                    </div>
              else:
                - id: log_user_not_found
                  type: io.kestra.plugin.core.log.Log
                  message: "User not found: {{ inputs.username }}"
                  level: WARN

          deny:
            - id: log_denial
              type: io.kestra.plugin.core.log.Log
              message: "User denied: {{ inputs.username }}"

            - id: send_denial_confirmation
              type: io.kestra.plugin.email.MailSend
              host: smtp.gmail.com
              port: 465
              transportStrategy: SMTPS
              username: "{{ secret('GMAIL_USERNAME') }}"
              password: "{{ secret('GMAIL_APP_PASSWORD') }}"
              from: "{{ secret('GMAIL_USERNAME') }}"
              to: "{{ secret('ADMIN_EMAIL') }}"
              subject: "User Denied: {{ inputs.username }}"
              htmlTextContent: |
                <div style="font-family: sans-serif; padding: 20px;">
                  <h2 style="color: #dc3545;">User Denied</h2>
                  <p><strong>Username:</strong> {{ inputs.username }}</p>
                  <p><strong>Time:</strong> {{ now() | date("yyyy-MM-dd HH:mm:ss") }} UTC</p>
                  <p>The user account remains active but was not granted the audiobook role.</p>
                </div>

        defaults:
          - id: log_invalid_action
            type: io.kestra.plugin.core.log.Log
            message: "Invalid action received: {{ inputs.action }}"
            level: WARN

    triggers:
      - id: approval_webhook
        type: io.kestra.plugin.core.trigger.Webhook
        key: "{{ secret('WEBHOOK_KEY_USER_APPROVAL_ACTION') }}"
        inputs:
          username: "{{ trigger.parameters.username[0] }}"
          action: "{{ trigger.parameters.action[0] ?? 'deny' }}"
