clusters/sirius/apps/kestra/flows-configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: kestra-flows
data:
  main_homelab.new-user-approval.yml: |
    id: new-user-approval
    namespace: homelab
    description: |
      Receives webhook from Authentik when a new user is created.
      Sends approval email to admin with approve/deny links.

    labels:
      app: authentik-approval
      team: homelab

    tasks:
      - id: log_new_user
        type: io.kestra.plugin.core.log.Log
        message: |
          New user notification received:
          Username: {{ trigger['body'].event_user_username ?? 'unknown' }}
          Email: {{ trigger['body'].event_user_email ?? 'unknown' }}
          Severity: {{ trigger['body'].severity ?? 'unknown' }}

      - id: mark_email_sent
        type: io.kestra.plugin.core.http.Request
        uri: "http://authentik-server.authentik.svc.cluster.local/api/v3/core/users/?username={{ trigger['body'].event_user_username }}"
        method: GET
        allowFailed: true
        headers:
          Authorization: "Bearer {{ secret('AUTHENTIK_API_TOKEN') }}"
          Accept: application/json

      - id: set_approval_flag
        type: io.kestra.plugin.core.http.Request
        uri: "http://authentik-server.authentik.svc.cluster.local/api/v3/core/users/{{ outputs.mark_email_sent['body'] | jq('.results[0].pk') | first }}/"
        method: PATCH
        allowFailed: true
        headers:
          Authorization: "Bearer {{ secret('AUTHENTIK_API_TOKEN') }}"
          Content-Type: application/json
        body: |
          {
            "attributes": {{ outputs.mark_email_sent['body'] | jq('.results[0].attributes + {"approval_email_sent": true}') | first }}
          }

      - id: send_approval_email
        type: io.kestra.plugin.email.MailSend
        host: smtp.gmail.com
        port: 465
        transportStrategy: SMTPS
        username: "{{ secret('GMAIL_USERNAME') }}"
        password: "{{ secret('GMAIL_APP_PASSWORD') }}"
        from: "{{ secret('GMAIL_USERNAME') }}"
        to: "{{ secret('ADMIN_EMAIL') }}"
        subject: "New Authentik User Approval: {{ trigger['body'].event_user_username }}"
        htmlTextContent: |
          <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;">
            <div style="background: #1a1a2e; color: white; padding: 20px; border-radius: 8px 8px 0 0;">
              <h1 style="margin:0;">New User Approval Required</h1>
            </div>
            <div style="background: #f8f9fa; padding: 20px; border: 1px solid #e9ecef;">
              <p>A new user has registered and requires approval for the <strong>audiobook</strong> role.</p>

              <div style="background: white; padding: 15px; border-radius: 8px; margin: 15px 0;">
                <dl>
                  <dt style="font-weight: bold; color: #666;">Username</dt>
                  <dd style="margin: 0 0 10px 0; font-size: 16px;">{{ trigger['body'].event_user_username ?? 'N/A' }}</dd>

                  <dt style="font-weight: bold; color: #666;">Email</dt>
                  <dd style="margin: 0 0 10px 0; font-size: 16px;">{{ trigger['body'].event_user_email ?? 'N/A' }}</dd>

                  <dt style="font-weight: bold; color: #666;">Notification Time</dt>
                  <dd style="margin: 0 0 10px 0; font-size: 16px;">{{ now() | date("yyyy-MM-dd HH:mm:ss") }} UTC</dd>
                </dl>
              </div>

              <div style="text-align: center; margin: 25px 0;">
                <a href="https://kestra.sirius.moonblade.work/api/v1/executions/webhook/homelab/user-approval-action/{{ secret('WEBHOOK_KEY_USER_APPROVAL_ACTION') }}?username={{ trigger['body'].event_user_username | urlencode }}&amp;action=approve" style="display: inline-block; padding: 14px 32px; margin: 8px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px; background: #28a745; color: white;">
                  Approve (Add Audiobook Role)
                </a>
                <br>
                <a href="https://kestra.sirius.moonblade.work/api/v1/executions/webhook/homelab/user-approval-action/{{ secret('WEBHOOK_KEY_USER_APPROVAL_ACTION') }}?username={{ trigger['body'].event_user_username | urlencode }}&amp;action=deny" style="display: inline-block; padding: 14px 32px; margin: 8px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px; background: #dc3545; color: white;">
                  Deny
                </a>
              </div>

              <p style="font-size: 14px; color: #666;">
                Clicking <strong>Approve</strong> will add the "audiobook" role to this user's attributes in Authentik.<br>
                Clicking <strong>Deny</strong> will log the denial (user account remains but without audiobook access).
              </p>
            </div>
            <div style="background: #e9ecef; padding: 15px; border-radius: 0 0 8px 8px; font-size: 12px; color: #666; text-align: center;">
              Homelab Authentik User Approval System<br>
              Powered by Kestra
            </div>
          </div>

    triggers:
      - id: authentik_webhook
        type: io.kestra.plugin.core.trigger.Webhook
        key: "{{ secret('WEBHOOK_KEY_NEW_USER_APPROVAL') }}"

  main_homelab.user-approval-action.yml: |
    id: user-approval-action
    namespace: homelab
    description: |
      Handles approve/deny actions from the approval email.
      - Approve: Adds "audiobook" role to user.attributes.roles in Authentik
      - Deny: Logs the denial (no role change)
      Returns a human-readable response to the browser.

    labels:
      app: authentik-approval
      team: homelab

    inputs:
      - id: username
        type: STRING
        required: true
        description: Username to approve/deny
      - id: action
        type: STRING
        required: true
        defaults: "deny"
        description: Action to take (approve or deny)

    tasks:
      - id: log_action
        type: io.kestra.plugin.core.log.Log
        message: "Processing {{ inputs.action }} for user: {{ inputs.username }}"

      - id: process_action
        type: io.kestra.plugin.core.flow.Switch
        value: "{{ inputs.action }}"
        cases:
          approve:
            - id: get_user
              type: io.kestra.plugin.core.http.Request
              uri: "http://authentik-server.authentik.svc.cluster.local/api/v3/core/users/?username={{ inputs.username }}"
              method: GET
              allowFailed: true
              headers:
                Authorization: "Bearer {{ secret('AUTHENTIK_API_TOKEN') }}"
                Accept: application/json

            - id: check_user_found
              type: io.kestra.plugin.core.flow.If
              condition: "{{ outputs.get_user.code == 200 and (outputs.get_user['body'] | jq('.results | length') | first > 0) }}"
              then:
                - id: update_user_roles
                  type: io.kestra.plugin.core.http.Request
                  uri: "http://authentik-server.authentik.svc.cluster.local/api/v3/core/users/{{ outputs.get_user['body'] | jq('.results[0].pk') | first }}/"
                  method: PATCH
                  headers:
                    Authorization: "Bearer {{ secret('AUTHENTIK_API_TOKEN') }}"
                    Content-Type: application/json
                  body: |
                    {
                      "attributes": {{ outputs.get_user['body'] | jq('.results[0].attributes + {"roles": ((.results[0].attributes.roles // []) + ["audiobook"] | unique)}') | first }}
                    }

                - id: log_approval_success
                  type: io.kestra.plugin.core.log.Log
                  message: "Successfully added audiobook role to user: {{ inputs.username }}"

                - id: send_confirmation_email
                  type: io.kestra.plugin.email.MailSend
                  host: smtp.gmail.com
                  port: 465
                  transportStrategy: SMTPS
                  username: "{{ secret('GMAIL_USERNAME') }}"
                  password: "{{ secret('GMAIL_APP_PASSWORD') }}"
                  from: "{{ secret('GMAIL_USERNAME') }}"
                  to: "{{ secret('ADMIN_EMAIL') }}"
                  subject: "User Approved: {{ inputs.username }}"
                  htmlTextContent: |
                    <div style="font-family: sans-serif; padding: 20px;">
                      <h2 style="color: #28a745;">User Approved Successfully</h2>
                      <p><strong>Username:</strong> {{ inputs.username }}</p>
                      <p><strong>Role Added:</strong> audiobook</p>
                      <p><strong>Time:</strong> {{ now() | date("yyyy-MM-dd HH:mm:ss") }} UTC</p>
                    </div>

                - id: result_approved
                  type: io.kestra.plugin.core.debug.Return
                  format: "{{ inputs.username }} has been added to audiobooks"

              else:
                - id: log_user_not_found
                  type: io.kestra.plugin.core.log.Log
                  message: "User not found or API error for: {{ inputs.username }}"
                  level: WARN

                - id: result_not_found
                  type: io.kestra.plugin.core.debug.Return
                  format: "Error: user {{ inputs.username }} not found in Authentik"

          deny:
            - id: log_denial
              type: io.kestra.plugin.core.log.Log
              message: "User denied: {{ inputs.username }}"

            - id: send_denial_confirmation
              type: io.kestra.plugin.email.MailSend
              host: smtp.gmail.com
              port: 465
              transportStrategy: SMTPS
              username: "{{ secret('GMAIL_USERNAME') }}"
              password: "{{ secret('GMAIL_APP_PASSWORD') }}"
              from: "{{ secret('GMAIL_USERNAME') }}"
              to: "{{ secret('ADMIN_EMAIL') }}"
              subject: "User Denied: {{ inputs.username }}"
              htmlTextContent: |
                <div style="font-family: sans-serif; padding: 20px;">
                  <h2 style="color: #dc3545;">User Denied</h2>
                  <p><strong>Username:</strong> {{ inputs.username }}</p>
                  <p><strong>Time:</strong> {{ now() | date("yyyy-MM-dd HH:mm:ss") }} UTC</p>
                  <p>The user account remains active but was not granted the audiobook role.</p>
                </div>

            - id: result_denied
              type: io.kestra.plugin.core.debug.Return
              format: "{{ inputs.username }} has been denied audiobook access"

        defaults:
          - id: log_invalid_action
            type: io.kestra.plugin.core.log.Log
            message: "Invalid action received: {{ inputs.action }}"
            level: WARN

          - id: result_invalid
            type: io.kestra.plugin.core.debug.Return
            format: "Error: invalid action '{{ inputs.action }}' for {{ inputs.username }}"

    outputs:
      - id: response
        type: STRING
        value: "{{ outputs.result_approved.value ?? outputs.result_not_found.value ?? outputs.result_denied.value ?? outputs.result_invalid.value ?? 'Unknown error' }}"

    triggers:
      - id: approval_webhook
        type: io.kestra.plugin.core.trigger.Webhook
        key: "{{ secret('WEBHOOK_KEY_USER_APPROVAL_ACTION') }}"
        wait: true
        returnOutputs: true
        responseContentType: "text/plain"
        inputs:
          username: "{{ (trigger.parameters.username ?? ['unknown'])[0] }}"
          action: "{{ (trigger.parameters.action ?? ['deny'])[0] }}"

  main_homelab.poll-new-users.yml: |
    id: poll-new-users
    namespace: homelab
    description: |
      Polling fallback for new user approval.
      Periodically checks Authentik for Google-enrolled users who haven't
      received an approval email yet (no audiobook role AND no approval_email_sent flag).
      Sends approval email and marks user so we don't re-send.

    labels:
      app: authentik-approval
      team: homelab

    tasks:
      - id: fetch_users
        type: io.kestra.plugin.core.http.Request
        uri: "http://authentik-server.authentik.svc.cluster.local/api/v3/core/users/?path=goauthentik.io/sources/google&page_size=100"
        method: GET
        allowFailed: true
        headers:
          Authorization: "Bearer {{ secret('AUTHENTIK_API_TOKEN') }}"
          Accept: application/json

      - id: check_has_pending
        type: io.kestra.plugin.core.flow.If
        condition: "{{ outputs.fetch_users['body'] | jq('[.results[] | select((.attributes.roles // [] | index(\"audiobook\")) == null and (.attributes.approval_email_sent // false) == false)] | length > 0') | first }}"
        then:
          - id: for_each_user
            type: io.kestra.plugin.core.flow.EachSequential
            value: "{{ outputs.fetch_users['body'] | jq('[.results[] | select((.attributes.roles // [] | index(\"audiobook\")) == null and (.attributes.approval_email_sent // false) == false) | .username]') | first }}"
            tasks:
              - id: get_user_detail
                type: io.kestra.plugin.core.http.Request
                uri: "http://authentik-server.authentik.svc.cluster.local/api/v3/core/users/?username={{ taskrun.value }}"
                method: GET
                allowFailed: true
                headers:
                  Authorization: "Bearer {{ secret('AUTHENTIK_API_TOKEN') }}"
                  Accept: application/json

              - id: extract_user_info
                type: io.kestra.plugin.core.debug.Return
                format: "{{ currentEachOutput(outputs.get_user_detail).body | jq('.results[0].email') | first }}"

              - id: send_approval_email
                type: io.kestra.plugin.email.MailSend
                host: smtp.gmail.com
                port: 465
                transportStrategy: SMTPS
                username: "{{ secret('GMAIL_USERNAME') }}"
                password: "{{ secret('GMAIL_APP_PASSWORD') }}"
                from: "{{ secret('GMAIL_USERNAME') }}"
                to: "{{ secret('ADMIN_EMAIL') }}"
                subject: "New Authentik User Approval: {{ taskrun.value }}"
                htmlTextContent: |
                  <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;">
                    <div style="background: #1a1a2e; color: white; padding: 20px; border-radius: 8px 8px 0 0;">
                      <h1 style="margin:0;">New User Approval Required</h1>
                      <span style="display: inline-block; background: #ffc107; color: #333; padding: 2px 8px; border-radius: 4px; font-size: 12px;">via scheduled poll</span>
                    </div>
                    <div style="background: #f8f9fa; padding: 20px; border: 1px solid #e9ecef;">
                      <p>A new user has registered and requires approval for the <strong>audiobook</strong> role.</p>

                      <div style="background: white; padding: 15px; border-radius: 8px; margin: 15px 0;">
                        <dl>
                          <dt style="font-weight: bold; color: #666;">Username</dt>
                          <dd style="margin: 0 0 10px 0; font-size: 16px;">{{ taskrun.value }}</dd>

                          <dt style="font-weight: bold; color: #666;">Email</dt>
                          <dd style="margin: 0 0 10px 0; font-size: 16px;">{{ currentEachOutput(outputs.extract_user_info).value }}</dd>

                          <dt style="font-weight: bold; color: #666;">Detected At</dt>
                          <dd style="margin: 0 0 10px 0; font-size: 16px;">{{ now() | date("yyyy-MM-dd HH:mm:ss") }} UTC</dd>
                        </dl>
                      </div>

                      <div style="text-align: center; margin: 25px 0;">
                        <a href="https://kestra.sirius.moonblade.work/api/v1/executions/webhook/homelab/user-approval-action/{{ secret('WEBHOOK_KEY_USER_APPROVAL_ACTION') }}?username={{ taskrun.value | urlencode }}&amp;action=approve" style="display: inline-block; padding: 14px 32px; margin: 8px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px; background: #28a745; color: white;">
                          Approve (Add Audiobook Role)
                        </a>
                        <br>
                        <a href="https://kestra.sirius.moonblade.work/api/v1/executions/webhook/homelab/user-approval-action/{{ secret('WEBHOOK_KEY_USER_APPROVAL_ACTION') }}?username={{ taskrun.value | urlencode }}&amp;action=deny" style="display: inline-block; padding: 14px 32px; margin: 8px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px; background: #dc3545; color: white;">
                          Deny
                        </a>
                      </div>

                      <p style="font-size: 14px; color: #666;">
                        Clicking <strong>Approve</strong> will add the "audiobook" role to this user's attributes in Authentik.<br>
                        Clicking <strong>Deny</strong> will log the denial (user account remains but without audiobook access).
                      </p>
                    </div>
                    <div style="background: #e9ecef; padding: 15px; border-radius: 0 0 8px 8px; font-size: 12px; color: #666; text-align: center;">
                      Homelab Authentik User Approval System<br>
                      Powered by Kestra (polling fallback)
                    </div>
                  </div>

              - id: mark_email_sent
                type: io.kestra.plugin.core.http.Request
                uri: "http://authentik-server.authentik.svc.cluster.local/api/v3/core/users/{{ currentEachOutput(outputs.get_user_detail).body | jq('.results[0].pk') | first }}/"
                method: PATCH
                allowFailed: true
                headers:
                  Authorization: "Bearer {{ secret('AUTHENTIK_API_TOKEN') }}"
                  Content-Type: application/json
                body: |
                  {
                    "attributes": {{ currentEachOutput(outputs.get_user_detail).body | jq('.results[0].attributes + {"approval_email_sent": true}') | first }}
                  }

              - id: log_email_sent
                type: io.kestra.plugin.core.log.Log
                message: "Sent approval email for user: {{ taskrun.value }}"

        else:
          - id: log_no_pending
            type: io.kestra.plugin.core.log.Log
            message: "No pending users found"

    triggers:
      - id: poll_schedule
        type: io.kestra.plugin.core.trigger.Schedule
        cron: "*/5 * * * *"
